<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
        <link rel="stylesheet" href="./styles/main.css">
    </head>
    <body>
        <div class="background-image">
            <div class="background-image__gradient"></div>
            <img class="background-image__image" src="img/reservation-piraeus.jpg" alt="Welcome to the Mindtrap">
        </div>
        
        @@include("../blocks/modules/header/header.html")

        <div class="y-border"></div>

        @@include("../blocks/modules/main/main.html")
     
        <div class="x-border"></div>

        @@include("../blocks/modules/footer/footer.html")
        
        <!-- <script src="../js/main.js"></script>
        <script src="../js/vendor.js"></script> -->
    </body>
</html>